.contact-form {
    input,
    textarea {
        width: 100%;
        color: #000;
        font-family: "Michroma", sans-serif;
        &::-webkit-input-placeholder {
            font-family: "Michroma", sans-serif;

            color: #000;
        }
        &::-ms-input-placeholder {
            font-family: "Michroma", sans-serif;

            color: #000;
        }
        &::placeholder {
            font-family: "Michroma", sans-serif;

            color: #000;
        }
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #000;
        border-radius: 0;
        padding: 10px 5px;
        font-size: 1rem;
        outline: 0;
        &:focus {
            font-family: "Michroma", sans-serif;

            outline: 0;
            border: 0;
            border-bottom: 2px solid #000;
        }
        &.is-invalid {
            border-bottom: 2px solid #ca303c;
        }
    }
    textarea {
        height: 100%;
        resize: none;
    }
}

.map {
    width: 100%;
    height: 300px;
    border: 0;
}

#contact-alert-container {
    display: none;
}
#contact-us {
    h5 {
        font-size: 36px;
    }
}
@media (max-width: 991.5px) {
    #contact-us {
        h5 {
            font-size: 24px;
        }
    }
}

@media (max-width: 575.5px) {
    #contact-us {
        h5 {
            font-size: 18px;
        }
    }
}
