header {
    position: relative;
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 20%,
            rgba(255, 255, 255, 0) 100%
        ),
        url("../imgs/jpg/header-bg.jpg") no-repeat center;
    // max-height: 800px;
    min-height: 700px;
    background-size: cover;
    width: 100%;
    // height: 85vh;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: start;
    & > .container {
        padding-bottom: 150px;
        margin: auto;
    }
    .logo-header {
        width: 100%;
    }
    .logo-text-wrapper {
        width: 85%;
        padding-bottom: 15px;
        img {
            width: 100%;
        }
        border-bottom: 2px solid #000;
        & + p {
            font-size: 20px;
        }
    }
}

@media (max-width: 1199.5px) {
    header {
        .logo-text-wrapper {
            & + p {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 991.5px) {
    header {
        background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 1) 40%,
                rgba(255, 255, 255, 0.3) 100%
            ),
            url("../imgs/jpg/header-bg.jpg") no-repeat center;
        background-size: cover;

        .logo-header {
            width: 90%;
        }
        .logo-text-wrapper {
            width: 90%;
            & + p {
                width: 90%;
                font-size: 18px;
            }
        }
        & > .container {
            padding-bottom: 0;
        }
    }
}

@media (max-width: 575.5px) {
    header {
        .logo-header {
            width: 95%;
            flex-shrink: 0;
        }
        .logo-text-wrapper {
            width: 95%;
            & + p {
                width: 95%;
                font-size: 12px;
            }
        }
    }
}
